h1{ 
    text-align: center;
    
}

#p4{
    border:1px solid black;
    background-color:grey;
    width: 90%;
    height: 150px;
    margin: 10px;
    font-family:  Helvetica;
    color: black;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;

}
.row{
    width:100%;
    box-sizing: border-box;

}
#p1{
    border:1px solid black;
    width: 30%;
background-color: pink;
padding: 5px 100px 5px 50px;
left: 50%;
font-weight: bold;
position: relative;
}
#p2{
    background-color: rgb(197, 8, 8);
    border:1px solid black;
    width: 30%;
    padding: 5px 100px 5px 50px;
 left:50%;
color: white;
font-weight: bold;
position: relative;
}
#p3{
    background-color:rgb(230, 175, 94);
    border:1px solid black;
    width: 30%;
    padding: 5px 100px 5px 50px;
    left:50%;
   font-weight: bold;
   position: relative;
}
#p5{
    background-color:grey;
    width: 90%;
    height: 110px;
    font-family:  Helvetica;
    color: black;
}
@media(min-width:992px)
{
    .col-lg-1, .col-lg-2,.col-lg-3,.col-lg-6{
        float: left;
    }
    .col-lg-1 {
        width: 8.33%;
    }
    .col-lg-2{
        width: 16.66%;
    }
    .col-lg-3{
        width: 25%;
    }
    .col-lg-6{
        width: 50%;

    }
    }
    @media(min-width: 768px) and (max-width: 991px) {
        .col-md-1, .col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6{
            float: left;
        }
        .col-md-1 {
            width: 8.33%;
        }
        .col-md-2{
            width: 16.66%;
        }
        .col-md-3{
            width: 25%;
        }
        .col-md-4{
            width: 33%;
        }
        .col-md-5{
            width: 41.66%;
        }
        .col-md-6{
            width: 50%;
        }
}