body{
    font-size: 16px;
    color: black;
    
   
    font-family: 'Oxygen',sans-serif;
}
.text-center{
    font-size: x-large;
    font-weight: bold;
}
#header-nav{
    border-color: black;
    border-radius: 0;
    
}
#nav2{
    border: black;
}
#logo-img{
    color: black;
    font-size: 30px;
    margin: 10px 15px 10px 0;
}
.container{
    padding: 5px 100px 5px 50px;
    text-align: center;
    font-weight: bold;
color: black;
font-weight: bold;
}
.row{
    background-color:grey;
    width: 100%;
    height: 1000px;
    margin: 10px;
    font-family:  Helvetica;
    color: black;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    left: 10px;
}
#nav-list a{
    color: black;
    text-align: center;
     background-color:black; 
    
}
div.container-fluid{
    background-color: grey;
    border: 100px;
}

 #nav1{
    color: black;
    font-weight: bold;
}

li a{
    background-color: white;
    text-align: center;
    padding: 10px;
}
